#primaryOption button,
#subOption button {
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #4e73df;
    border-color: #4e73df;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#primaryOption button a,
#subOption button a {
    text-decoration: none;
    color: #ffffff;
}

#primaryOption button:hover,
#subOption button:hover {
    background-color: #2e59d9;
    border-color: #2e59d9;
}
.deductBalanceBtn,
.overdueBtn {
    background-color: #4e73df;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deductBalanceBtn:disabled,
.overdueBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.deductBalanceBtn:hover,
.overdueBtn:hover {
    background-color: #375ac4;
}

#mainContent{
    font-size: 98%;
}