.image-container {
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 300px;
}

.carousel-item p {
    overflow: auto;
}

.prev-button,
.next-button {
    font-size: 24px;
    color: black;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 8px 12px;
    /*border-radius: 50%;*/
    cursor: pointer;
    margin: 0 5px;
}

button {
    all: unset;
}

.carousel-item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.carousel-item-text .loan-name {
    margin-right: 10px;
}

.carousel-item-text .loan-interest-rate {
    margin-left: 10px;
}