@charset "UTF-8";
*{
    margin:0;
    padding:0;
}

.table{
    display:flex;
    justify-content:center;
    align-items:center;
}
.table table,th,td{
    border:1px solid #454545;
    border-collapse:collapse;
    padding:5px;
}
table{
    width: 500px;
}

.box {
    /*width: 150px;*/
    /*height: 150px;*/
    /*border-radius: 70%;*/
    /*overflow: hidden;*/
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.profile {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

select {
    /* Remove default appearance styles */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Add your custom styles */
    /* Adjust the styles to match your desired appearance */
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 5px;
}

select:disabled {
    /* Add styles for the disabled state */
    /* Adjust the styles to match your desired appearance */
    opacity: 1;
    cursor: default;
}

.disabled-dropdown {
    background-color: #f1f1f1;
    color: #000;
    /*color: black;*/
    /*opacity: 0.8; !* Adjust the opacity to control the disabled appearance *!*/
    /*pointer-events: none; !* Prevent interactions with the dropdown menu *!*/
    /*background-color: white; !* Optional: Set a background color for disabled look *!*/
    /* Add any other custom styling to visually indicate disabled state */
}