select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
}

/*.container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 20px;*/
/*}*/

.button-container {
    text-align: right;
}

.btn-h {
    height: 35px;
    width: 150px;
    text-align: center;
    align-items: center;
}